---
import Container from "@/components/Container.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";

const STAFF_TEAM_QUERY = `*[_type == "staffTeam"] {title, staff[] -> {titleEN, titleTH}}`;
const staffTeams = await sanityClient.fetch<SanityDocument[]>(STAFF_TEAM_QUERY);
---

<Container>
  <SectionTitle target="team" title="Our Team">
    <h2 class="text-4xl md:text-6xl font-semibold font-['Noto_Serif_Thai']">
      ทีมงานของพวกเรา
    </h2>
  </SectionTitle>
  {
    staffTeams.length > 0 && (
      <div data-aos="fade-up" class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {staffTeams.map((team) => (
          <div class="bg-foreground border border-black p-8 rounded-2xl">
            <h3 class="text-2xl font-semibold">{team.title}</h3>
            <div class="mt-4">
              {team.staff.map((staff: any) => (
                <p>{staff.titleTH}</p>
              ))}
            </div>
          </div>
        ))}
      </div>
    )
  }
</Container>
