---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SpeakerCard from "../components/SpeakerCard.astro";
import Footer from "../components/Footer.astro";
import { Icon } from "astro-icon/components";
import Button from "../components/Button.astro";
import AgendaLayout from "../components/AgendaLayout.astro";
import Accordion from "../components/Accordion.astro";
import Marquee from "../components/Marquee.astro";

const mockSpeakerInfo = [
    {
        name: "John Doe",
        title: "CEO of Company",
        image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
        socials: [
            { title: "Facebook", url: "#", icon: "mdi:facebook" },
            { title: "Twitter", url: "#", icon: "mdi:twitter" },
            { title: "LinkedIn", url: "#", icon: "mdi:linkedin" },
        ],
    },
    {
        name: "Jane Doe",
        title: "CTO of Company",
        image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
        socials: [
            { title: "Facebook", url: "#", icon: "mdi:facebook" },
            { title: "Twitter", url: "#", icon: "mdi:twitter" },
            { title: "LinkedIn", url: "#", icon: "mdi:linkedin" },
        ],
    },
    {
        name: "John Smith",
        title: "CFO of Company",
        image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
        socials: [
            { title: "Facebook", url: "#", icon: "mdi:facebook" },
            { title: "Twitter", url: "#", icon: "mdi:twitter" },
            { title: "LinkedIn", url: "#", icon: "mdi:linkedin" },
        ],
    },
    {
        name: "John Smith",
        title: "CFO of Company",
        image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
        socials: [
            { title: "Facebook", url: "#", icon: "mdi:facebook" },
            { title: "Twitter", url: "#", icon: "mdi:twitter" },
            { title: "LinkedIn", url: "#", icon: "mdi:linkedin" },
        ],
    },
    {
        name: "John Smith",
        title: "CFO of Company",
        image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
        socials: [
            { title: "Facebook", url: "#", icon: "mdi:facebook" },
            { title: "Twitter", url: "#", icon: "mdi:twitter" },
            { title: "LinkedIn", url: "#", icon: "mdi:linkedin" },
        ],
    },
    {
        name: "John Smith",
        title: "CFO of Company",
        image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
        socials: [
            { title: "Facebook", url: "#", icon: "mdi:facebook" },
            { title: "Twitter", url: "#", icon: "mdi:twitter" },
            { title: "LinkedIn", url: "#", icon: "mdi:linkedin" },
        ],
    },
    {
        name: "John Smith",
        title: "CFO of Company",
        image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
        socials: [
            { title: "Facebook", url: "#", icon: "mdi:facebook" },
            { title: "Twitter", url: "#", icon: "mdi:twitter" },
            { title: "LinkedIn", url: "#", icon: "mdi:linkedin" },
        ],
    },
];

const mockAgenda = [
    {
        time: "12:00",
        title: "Registration",
        description: "Get your name tags and find your seats",
    },
    {
        title: "Section 1",
        description: "Get your name tags and find your seats",
        items: [
            {
                time: "12:30",
                title: "First Talks",
                description:
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                speaker: {
                    name: "John Doe",
                    image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
                },
            },
            {
                time: "12:45",
                title: "Second Talks",
                description:
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                speaker: {
                    name: "John Doe",
                    image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
                },
            },
            {
                time: "13:00",
                title: "Third Talks",
                description:
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                speaker: {
                    name: "John Doe",
                    image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
                },
            },
        ],
    },
    {
        title: "Section 2",
        description: "Get your name tags and find your seats",
        items: [
            {
                time: "12:30",
                title: "First Talks",
                description:
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                speaker: {
                    name: "John Doe",
                    image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
                },
            },
            {
                time: "12:45",
                title: "Second Talks",
                description:
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                speaker: {
                    name: "John Doe",
                    image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
                },
            },
            {
                time: "13:00",
                title: "Third Talks",
                description:
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                speaker: {
                    name: "John Doe",
                    image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
                },
            },
        ],
    },
    {
        title: "Section 3",
        description: "Get your name tags and find your seats",
        type: "group",
        items: [
            {
                time: "12:30",
                title: "First Talks",
                description:
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                speaker: {
                    name: "John Doe",
                    image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
                },
            },
            {
                time: "12:45",
                title: "Second Talks",
                description:
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                speaker: {
                    name: "John Doe",
                    image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
                },
            },
            {
                time: "13:00",
                title: "Third Talks",
                description:
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                speaker: {
                    name: "John Doe",
                    image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
                },
            },
        ],
    },
    {
        time: "17:00",
        title: "Closing Ceremony",
        description: "Thank you for joining us",
    },
];

const mockFaqs = [
    {
        question: "What is the event about?",
        answer: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    },
    {
        question: "How can I join the event?",
        answer: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    },
    {
        question: "What is the event about?",
        answer: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    },
    {
        question: "What is the event about?",
        answer: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    },
    {
        question: "What is the event about?",
        answer: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    },
    {
        question: "What is the event about?",
        answer: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    },
    {
        question: "What is the event about?",
        answer: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    },
    {
        question: "What is the event about?",
        answer: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam",
    },
];
---

<Layout title="The Silent Loud · TEDxKMUTT">
    <div class="bg-primary-500 text-white py-2">
        <Marquee
            content="Infinite Marquee with long sentence Infinite Marquee with long sentence Infinite Marquee with long sentence Infinite Marquee with Infinite Marquee with long sentence Infinite Marquee with long sentence Infinite Marquee with long sentence Infinite Marquee with long sentence Infinite Marquee with long sentence Infinite Marquee with long sentence Infinite Marquee with Infinite Marquee with long sentence Infinite Marquee with long sentence Infinite Marquee with long sentence"
        />
    </div>
    <Navbar />
    <div class="max-w-md m-auto text-center space-y-8">
        <img src="" alt="" class="bg-slate-500 w-full h-96" />
        <div class="flex flex-col items-center gap-2 text-lg">
            <div class="flex items-center gap-1">
                <Icon name="mdi:calendar" class="text-primary-500 text-2xl" />
                <p class="text-slate-700">11 January 2025</p>
            </div>
            <div class="flex items-center gap-1">
                <Icon name="mdi:map-marker" class="text-primary-500 text-2xl" />
                <p class="text-slate-700">KX Building, Floor 7 & 8</p>
            </div>
        </div>
        <div class="flex gap-2 justify-center items-start">
            <Button
                href="#"
                variant="primary"
                text="Claim your tickets"
                iconRight="mdi:arrow-top-right"
                description="Only 300 tickets available"
            />
            <Button href="#" variant="secondary" text="Event agenda" />
        </div>
    </div>
    <div class="space-y-32 my-20">
        <div class="max-w-screen-2xl m-auto">
            <div class="h-[52rem] bg-slate-500 rounded-3xl p-2"></div>
        </div>
        <Container>
            <SectionTitle
                target="about"
                title="About the event"
                subtitle="Make the Silent Loud"
            />
        </Container>
        <Container>
            <SectionTitle
                target="speakers"
                title="Speakers"
                subtitle="Meet the Idea Sharers"
            />
            <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-2">
                {mockSpeakerInfo.map((speaker) => <SpeakerCard {...speaker} />)}
            </div>
        </Container>
        <Container>
            <SectionTitle
                target="agenda"
                title="Agenda"
                subtitle="Amazing talks in a day"
            />
            <div class="space-y-2">
                {mockAgenda.map((agenda) => <AgendaLayout {...agenda} />)}
            </div>
        </Container>
        <div class="bg-slate-500 m-4 p-4 rounded-3xl text-center h-[80vh]">
            <h3 class="text-6xl font-semibold">Join the Event</h3>
        </div>
        <Container>
            <SectionTitle
                target="faqs"
                title="FAQs"
                subtitle="Answers to your questions"
            />
            <div class="max-w-screen-lg m-auto space-y-2">
                {
                    mockFaqs.map((faq) => (
                        <Accordion title={faq.question} content={faq.answer} />
                    ))
                }
            </div>
        </Container>
    </div>
    <Footer />
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        function myFunction() {
            var x = document.getElementById("myLinks") as HTMLElement;
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }

        addEventListener("DOMContentLoaded", () => {
            const burger = document.getElementById("burger") as HTMLElement;

            burger.addEventListener("click", () => {
                myFunction();
            });
        });
    </script>
</Layout>
