---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SpeakerCard from "../components/SpeakerCard.astro";
import Footer from "../components/Footer.astro";
import { Icon } from "astro-icon/components";
import Button from "../components/Button.astro";

const mockSpeakerInfo = [
    {
        name: "John Doe",
        title: "CEO of Company",
        image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
        socials: [
            { title: "Facebook", url: "#", icon: "mdi:facebook" },
            { title: "Twitter", url: "#", icon: "mdi:twitter" },
            { title: "LinkedIn", url: "#", icon: "mdi:linkedin" },
        ],
    },
    {
        name: "Jane Doe",
        title: "CTO of Company",
        image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
        socials: [
            { title: "Facebook", url: "#", icon: "mdi:facebook" },
            { title: "Twitter", url: "#", icon: "mdi:twitter" },
            { title: "LinkedIn", url: "#", icon: "mdi:linkedin" },
        ],
    },
    {
        name: "John Smith",
        title: "CFO of Company",
        image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
        socials: [
            { title: "Facebook", url: "#", icon: "mdi:facebook" },
            { title: "Twitter", url: "#", icon: "mdi:twitter" },
            { title: "LinkedIn", url: "#", icon: "mdi:linkedin" },
        ],
    },
    {
        name: "John Smith",
        title: "CFO of Company",
        image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
        socials: [
            { title: "Facebook", url: "#", icon: "mdi:facebook" },
            { title: "Twitter", url: "#", icon: "mdi:twitter" },
            { title: "LinkedIn", url: "#", icon: "mdi:linkedin" },
        ],
    },
    {
        name: "John Smith",
        title: "CFO of Company",
        image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
        socials: [
            { title: "Facebook", url: "#", icon: "mdi:facebook" },
            { title: "Twitter", url: "#", icon: "mdi:twitter" },
            { title: "LinkedIn", url: "#", icon: "mdi:linkedin" },
        ],
    },
    {
        name: "John Smith",
        title: "CFO of Company",
        image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
        socials: [
            { title: "Facebook", url: "#", icon: "mdi:facebook" },
            { title: "Twitter", url: "#", icon: "mdi:twitter" },
            { title: "LinkedIn", url: "#", icon: "mdi:linkedin" },
        ],
    },
    {
        name: "John Smith",
        title: "CFO of Company",
        image: "https://i.pravatar.cc/300?u=a042581f4e29026704d",
        socials: [
            { title: "Facebook", url: "#", icon: "mdi:facebook" },
            { title: "Twitter", url: "#", icon: "mdi:twitter" },
            { title: "LinkedIn", url: "#", icon: "mdi:linkedin" },
        ],
    },
];
---

<Layout title="The Silent Loud · TEDxKMUTT">
    <div class="bg-primary-500 py-1 text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quia
        voluptate quibusdam reiciendis amet eius cumque ut deleniti beatae
        possimus. Distinctio, tempora cumque. Officiis quam ad, debitis dicta
        recusandae amet.
    </div>
    <Navbar />
    <div class="max-w-md m-auto text-center">
        <img src="" alt="" class="bg-slate-500 w-full h-96" />
        <div class="flex flex-col items-center gap-2 text-lg">
            <div class="flex items-center gap-2">
                <Icon name="mdi:calendar" class="text-primary-500" />
                <p class="text-slate-700">11 January 2025</p>
            </div>
            <div class="flex items-center gap-2">
                <Icon name="mdi:map-marker" class="text-primary-500" />
                <p class="text-slate-700">KX Building, Floor 7 & 8</p>
            </div>
        </div>
        <div class="flex gap-2 justify-center items-start">
            <a href="#">
                <Button
                    variant="primary"
                    text="Claim your tickets"
                    description="Only 300 tickets available"
                />
            </a>
            <a href="#">
                <Button variant="secondary" text="Event agenda" />
            </a>
        </div>
    </div>
    <div class="space-y-60 my-20">
        <div class="max-w-screen-2xl m-auto">
            <div class="h-[52rem] bg-slate-500"></div>
        </div>
        <Container>
            <SectionTitle
                target="about"
                title="About the event"
                subtitle="The Silent Loud"
            />
        </Container>
        <Container>
            <SectionTitle
                target="speakers"
                title="Speakers"
                subtitle="Meet the idea sharers"
            />
            <div class="grid grid-cols-4 gap-2 mt-16">
                {mockSpeakerInfo.map((speaker) => <SpeakerCard {...speaker} />)}
            </div>
        </Container>
        <Container>
            <SectionTitle
                target="agenda"
                title="Agenda"
                subtitle="Amazing talks in a day"
            />
        </Container>
        <Container>
            <SectionTitle
                target="fags"
                title="FAQs"
                subtitle="Answers to your questions"
            />
        </Container>
    </div>
    <Footer />
</Layout>
