---
import { Icon } from "astro-icon/components";
import Logo from "../assets/logos/TEDxKMUTT_b.png";
import NavLink from "./NavLink.astro";
---

<div class="sticky top-0 w-full bg-white shadow-sm mb-4">
    <nav class="flex justify-between p-4 items-center">
        <img
            id="logo"
            src={Logo.src}
            alt=""
            fetchpriority="high"
            class="w-40"
        />
        <ul class="hidden md:flex gap-4 lg:gap-10 text-lg">
            <NavLink href="#about" text="About event" />
            <NavLink href="#speakers" text="Speakers" />
            <NavLink href="#agenda" text="Agenda" />
            <NavLink href="#faqs" text="FAQs" />
        </ul>
        <button
            class="button hidden md:flex items-center gap-1 font-bold bg-primary-500 hover:bg-primary-600 duration-200 text-white px-4 py-2 rounded-full"
        >
            Claim your tickets
            <Icon name="mdi:arrow-top-right" />
        </button>
        <a id="burger" href="javascript:void(0);" class="md:hidden">
            <Icon name="mdi:menu" class="text-3xl" />
        </a>
    </nav>
    <ul id="myLinks" class="hidden md:!hidden">
        <NavLink href="#about" text="About event" />
        <NavLink href="#speakers" text="Speakers" />
        <NavLink href="#agenda" text="Agenda" />
        <NavLink href="#faqs" text="FAQs" />
    </ul>
</div>
