---
import Logo from "../assets/logos/TEDxKMUTT_b.png";
import NavLink from "./NavLink.astro";
import Button from "./Button.astro";
import { Image } from "astro:assets";
import Strip from "@/assets/strip.png";
import CtaButton from "./CtaButton.astro";

const currentPath = Astro.url.pathname;
---

<div class="sticky top-0 z-50 overflow-x-clip">
  <Image
    src={Strip}
    alt=""
    width={3000}
    class="absolute -bottom-2 -right-0 -z-10 w-full scale-125"
  />
  <div class="top-0 w-full bg-white shadow-lg">
    <nav class="relative flex justify-between px-4 py-2 items-center">
      <a href="/#">
        <Image
          id="logo"
          src={Logo}
          alt="Logo of TEDxKMUTT"
          fetchpriority="high"
          class="w-40"
        />
      </a>
      <ul class="hidden md:flex gap-4 lg:gap-10 text-lg">
        <NavLink
          href="#speakers"
          text={currentPath === "/en" ? "Speakers" : "รายชื่อผู้พูด"}
        />
        <NavLink
          href="#agenda"
          text={currentPath === "/en" ? "Agenda" : "ตารางรายการ"}
        />
        <NavLink
          href="#faqs"
          text={currentPath === "/en" ? "FAQs" : "คำถามที่พบบ่อย"}
        />
      </ul>
      <div class="flex gap-2">
        <div class="hidden md:block">
          <CtaButton />
        </div>
        {
          currentPath === "/en" ? (
            <a href="/th">
              <Button variant="secondary" text="EN" iconLeft="mdi:globe" />
            </a>
          ) : (
            <a href="/en">
              <Button variant="secondary" text="TH" iconLeft="mdi:globe" />
            </a>
          )
        }
      </div>
    </nav>
  </div>
</div>
