---
interface Props {
    href: string;
    text: string;
}

const { href, text } = Astro.props;
---

<li class="block">
    <a
        href={href}
        class="block border-b border-slate-300 hover:text-primary-500 duration-200 p-6 text-slate-500 text-2xl bg-slate-200 hover:bg-slate-300 md:p-0 md:text-black md:bg-transparent md:hover:bg-transparent md:text-lg"
        >{text}</a
    >
</li>
