---
interface Props {
    title: string;
    subtitle: string;
    target: string;
}

const { title, subtitle, target } = Astro.props;
---

<div id={target} class="text-center space-y-4 pt-28 mb-16">
    <div>
        <small class="p-2 text-primary-500 text-xl font-medium">{title}</small>
    </div>
    <h2 class="text-7xl font-semibold">{subtitle}</h2>
</div>
