---
import { urlFor } from "@/utils/sanity";
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import { randomBgColor } from "@/utils/randomColor";

const SPEAKERS_QUERY = `*[_type == "speaker"]|order(_createdAt asc)`;
const speakers = await sanityClient.fetch<SanityDocument[]>(SPEAKERS_QUERY);
---

<div
  data-aos="fade-up"
  data-aos-delay="300"
  class="flex -space-x-4 justify-center items-start"
>
  {
    speakers.map(
      (speaker) =>
        speaker.pfp && (
          <img
            src={urlFor(speaker.pfp)?.width(128).height(128).url()}
            alt=""
            class={"w-12 border-2 border-white rounded-full " + randomBgColor()}
          />
        )
    )
  }
</div>
