---
import Button from "@/components/Button.astro";
---

<a
  href="https://www.zipeventapp.com/e/TEDxKMUTT-The-Silent-Loud-Shaping-Tomorrow-Honoring-Today"
  target="_blank"
>
  <Button
    variant="primary"
    text="Get my ticket"
    iconRight="mdi:arrow-top-right"
  />
</a>
