---
import Container from "@/components/Container.astro";
import Button from "@/components/Button.astro";
import { Image } from "astro:assets";
import CtaBg from "@/assets/cta_bg.png";
import CtaButton from "@/components/en/CtaButton.astro";
---

<Container>
  <div
    data-aos="fade-up"
    class="relative flex flex-col justify-center items-center gap-8 md:aspect-video bg-blue border border-lightGray p-8 py-32 rounded-3xl text-center mt-32 overflow-clip"
  >
    <div class="absolute top-0 left-0 w-full !h-full -z-20">
      <Image
        src={CtaBg}
        alt="CTA Background"
        width={1200}
        class="object-cover w-full !h-full"
      />
    </div>
    <div
      class="absolute top-0 left-0 w-full h-full bg-purple mix-blend-color -z-10"
    >
    </div>
    <div class="space-y-4">
      <h3
        class="text-white text-6xl font-semibold font-['Bricolage_Grotesque']"
      >
        Shaping Tomorrow, Honoring Today
      </h3>
      <p class="text-lightGray text-xl">
        Tickets available now. Get your ticket and see you at the event!
      </p>
    </div>
    <CtaButton />
  </div>
</Container>
