---
import AgendaLayout from "@/components/AgendaLayout.astro";
import Container from "@/components/Container.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import BigStar from "@/assets/Icons/bigStar.astro";

const TALK_SECTIONS_QUERY = `*[_type == "talkSection"] {
  titleEN,
  titleTH,
  startTime,
  endTime,
  talks[] -> {
    titleEN,
    titleTH,
    descriptionEN,
    descriptionTH,
    startTime,
    endTime,
    speaker->{
      titleEN,
      titleTH,
      roleEN,
      roleTH,
      bioEN,
      bioTH,
      pfp{
        asset->{
          url
        }
      },
    }
  }
}`;
const talkSections =
  await sanityClient.fetch<SanityDocument[]>(TALK_SECTIONS_QUERY);
---

<div class="bg-[#ffdb87]">
  <Container>
    <SectionTitle target="agenda" title="Agenda">
      <h2
        class="text-4xl md:text-6xl font-semibold font-['Bricolage_Grotesque']"
      >
        Amazing Talks in a Day
      </h2>
    </SectionTitle>
    <div class="relative space-y-16">
      <BigStar
        class="absolute -top-40 -right-32 w-[20rem] -z-10 animate-[spin_10s_linear_infinite] text-yellow"
      />
      {
        talkSections.map((section, index) => (
          <AgendaLayout
            title={section.titleEN}
            startTime={section.talks[0].startTime}
            endTime={section.talks[section.talks.length - 1].endTime}
            talks={section.talks}
            index={index}
          />
        ))
      }
    </div>
  </Container>
</div>
