---
import Container from "@/components/Container.astro";
---

<Container>
  <div
    data-aos="fade-up"
    class="bg-foreground border border-lightGray m-4 p-4 rounded-3xl text-center h-[80vh]"
  >
    <h3 class="text-6xl font-semibold">Join the Event</h3>
  </div>
</Container>
