---
import Container from "@/components/Container.astro";
---

<Container>
  <div
    data-aos="fade-up"
    class="flex justify-center items-center aspect-video bg-foreground border border-lightGray p-4 rounded-3xl text-center"
  >
    <h3 class="text-6xl font-semibold">Join the Event</h3>
  </div>
</Container>
