---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Button from "@/components/Button.astro";

import Flower from "@/assets/Icons/flower.astro";
import Star from "@/assets/Icons/star.astro";
import GooseYadom from "@/assets/goose_yadom.png";
import logo from "@/assets/logos/Logo.png";
import SpeakersImage from "@/components/SpeakersImage.astro";

const EVENT_DATE = "26 April 2025";
const EVENT_LOCATION = "KX Building";
---

<section class="relative pt-16">
  <Flower
    class="absolute -top-48 -right-16 opacity-20 w-[24rem] animate-[spin_10s_linear_infinite_reverse] text-primary-500"
  />
  <Star
    class="absolute -bottom-64 -left-32 opacity-20 w-[24rem] animate-[spin_10s_linear_infinite] text-primary-500"
  />
  <div class="max-w-3xl m-auto text-center space-y-16">
    <Image src={logo} alt="The Silent Loud Logo" width={2400} class="w-full z-10" />
   
    <div
      data-aos="fade-up"
      data-aos-delay="200"
      class="flex flex-col-reverse m-auto md:flex-row gap-2 justify-center items-center md:items-start"
    >
      <a href="#">
        <Button
          variant="primary"
          text="Get my ticket"
          iconRight="mdi:arrow-top-right"
        />
      </a>
      <a href="#agenda">
        <Button variant="secondary" text="View agenda" />
      </a>
    </div>
    <!-- <SpeakersImage /> -->
  </div>
  <!-- <div class="relative p-4">
    <div
      class="relative max-w-screen-2xl m-auto aspect-video bg-foreground border border-black rounded-3xl mt-16"
    >
      <Image
        src={GooseYadom}
        alt=""
        width={800}
        class="absolute hidden md:block -top-40 right-32 -z-10 w-32"
      />
    </div>
    <Star
      class="absolute -top-20 -left-32 opacity-20 -z-20 w-[24rem] animate-[spin_10s_linear_infinite] text-primary-500"
    />
  </div> -->
</section>
