---
import Container from "@/components/Container.astro";
import { Image } from "astro:assets";

import Wave from "@/assets/Icons/wave.astro";
import SnakeL from "@/assets/Icons/snakeL.astro";
import SnakeR from "@/assets/Icons/snakeR.astro";
import GooseMuay from "@/assets/goose_muay.png";
---

<Container>
  <div data-aos="fade-up" class="flex items-center justify-center gap-8 w-full">
    <SnakeL class="w-16 h-fit text-primary-500" />
    <h2
      class="text-4xl md:text-6xl text-center font-semibold font-['Bricolage_Grotesque']"
    >
      Make The Silent Loud
    </h2>
    <SnakeR class="w-16 h-fit text-primary-500" />
  </div>
  <div
    data-aos="fade-up"
    class="relative grid grid-cols-1 md:grid-cols-2 gap-4 h-[32rem] mt-16"
  >
    <Wave
      class="absolute -top-64 -right-32 opacity-20 -z-10 w-[32rem] text-primary-500"
    />
    <div class="bg-foreground border border-lightGray rounded-3xl"></div>
    <Image
      src={GooseMuay}
      alt=""
      width={800}
      class="absolute bottom-0 -left-32 -rotate-12 -z-10 w-80"
    />
    <div class="grid grid-rows-2 gap-4">
      <div class="bg-foreground border border-lightGray rounded-3xl"></div>
      <div class="bg-foreground border border-lightGray rounded-3xl"></div>
    </div>
  </div>
</Container>
