---
import Container from "@/components/Container.astro";
import { Image } from "astro:assets";

import Wave from "@/assets/Icons/wave.astro";
import SnakeL from "@/assets/Icons/snakeL.astro";
import SnakeR from "@/assets/Icons/snakeR.astro";
import GooseMuay from "@/assets/goose_muay.png";
import Button from "@/components/Button.astro";
import { Icon } from "astro-icon/components";
import CtaButton from "@/components/CtaButton.astro";

const EVENT_DATE = "26 April 2025";
const EVENT_LOCATION = "KX Building";
---

<Container>
  <div
    data-aos="fade-up"
    data-aos-delay="300"
    class="relative grid grid-cols-1 md:grid-cols-2 gap-16 pt-40"
  >
    <div>
      <div>
        <div data-aos="fade-up" class="flex gap-2 text-sm text-darkGray">
          <p
            class="px-2 py-1 inline-flex items-center justify-center gap-2 bg-foreground rounded-lg border border-primary-500"
          >
            <Icon name="mdi:calendar" class="text-primary-500" />
            {EVENT_DATE}
          </p>
          <p
            class="px-2 py-1 inline-flex items-center justify-center gap-2 bg-foreground rounded-lg border border-primary-500"
          >
            <Icon name="mdi:map-marker" class="text-primary-500" />
            {EVENT_LOCATION}
          </p>
        </div>
        <!-- <SnakeL class="w-16 h-fit text-primary-500" /> -->
        <h2
          class="text-4xl md:text-6xl font-semibold font-['Bricolage_Grotesque'] mt-4"
        >
          Make The Silent Loud
        </h2>
        <!-- <SnakeR class="w-16 h-fit text-primary-500" /> -->
        <p class="mt-4 text-xl text-darkGray">
          We all have a superpower, it just needs to be discovered. And that's
          what we're here for. Join us in this journey of self-discovery and
          empowerment.
        </p>
      </div>
      <div class="w-fit mt-8">
        <CtaButton />
      </div>
      <div data-aos="fade-up" class="mt-12">
        <div class="flex justify-between text-4xl">
          <div>
            <p class="font-semibold">200+</p>
            <p class="text-xl">Seats</p>
          </div>
          <div>
            <p class="font-semibold">12</p>
            <p class="text-xl">Talks</p>
          </div>
          <div>
            <p class="font-semibold">2</p>
            <p class="text-xl">Special Shows</p>
          </div>
        </div>

        <!-- <Image
        src={GooseMuay}
        alt=""
        width={800}
        class="absolute bottom-0 -left-32 -rotate-12 -z-10 w-80"
       /> -->
      </div>
    </div>
    <div
      class="relative bg-foreground border border-black rounded-3xl aspect-video md:aspect-auto order-first md:order-last"
    >
      <Wave
        class="absolute -top-32 -right-48 -z-10 w-80 md:w-[32rem] text-primary-500"
      />
    </div>
  </div>
</Container>
